###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_this_to_random_secret_32_chars_min
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://db_user:db_password@postgres:5432/db_name?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=amqp://user:password@rabbitmq:5672/%2f/messages
###< symfony/messenger ###

###> Redis ###
REDIS_URL=redis://redis:6379
###< Redis ###

###> RabbitMQ ###
RABBITMQ_USER=your_rabbitmq_user
RABBITMQ_PASSWORD=your_rabbitmq_password
###< RabbitMQ ###

###> Docker ###
UID=1000
GID=1000
###< Docker ###
